# OS junk
.DS_Store
Thumbs.db

# JetBrains Rider / IntelliJ
**/.idea/
*.iml
out/
shelf/
workspace.xml
contentModel.xml
projectSettingsUpdater.xml
modules.xml
httpRequests/
dataSources/
dataSources.local.xml
